* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f172a; /* Çox tünd göy/qara arxa plan */
}

#gameCanvas {
    background-color: #1e293b; /* Səhnə üçün bir az daha açıq tünd rəng */
    border: 2px solid #334155; /* İncə və müasir çərçivə */
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8); /* Səhnənin özünü ekrandan qabarıq göstərmək üçün kölgə */
}